body{
    margin: 0;
    /* width: 90%; */
}

.head{
    display: flex;
    background-color: rgb(91, 75, 75);
    justify-content: space-between;
    height: 70px;
    border-radius: 6px;
    width: 100%;
}

.logo{
    color: bisque;
    align-items: center;
    padding: 20px;
    font-family: sans-serif;
    font-size: 30px;
    justify-content: center;
    text-align: center;
}

.nav{
    margin-top: 10px;
}

.nav a{
    text-decoration: none;
    padding: 12px 14px;
    text-align: center;
    justify-content: center;
    float: left;
    color: bisque;
    overflow: hidden;
    align-items: center;
}

.nav a:hover{
    background-color: beige;
    color: rgb(41, 27, 27);
}

.nav a.Active{
    color: rgb(51, 29, 29);
    background-color: antiquewhite;
}

.container{
    background: url('images/photo4.png') no-repeat center center/cover;
    padding: 20px;
    display: inline-block;
    text-align: center;
    justify-content: center;
    height: 80vh;
    width: 100%;
    align-items: center;
}

.text-primary{
    color: rgb(190, 190, 78);
    font-size: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.primary {
    color: rgb(9, 9, 9);
    font-size: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.para{
    color: aliceblue;
    padding-bottom: 20px;
}

.about{
    text-decoration: none;
    color: blanchedalmond;
    background-color: rgb(26, 25, 25, 0.6);
    padding: 14px 16px;
    border-radius: 2px;
    text-align: center;
    justify-content: center;
    padding-bottom: 20px;
}

.about:hover {
    background-color: rgb(173, 170, 138, 0.4);
    color: black;
}

.container-2{
    
    display: flex;

}

.show-2{
    float: left;
    background: url('images/photo5.png') no-repeat;
    width: 50%;
    min-height: 100%;
}

.post{
    float: right;
    padding: 30px;
    width: 50%;
    min-height: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: rgb(71, 70, 70);
}

.text-primary1{
    color: rgb(190, 190, 78);
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    align-items: center;
}

.primary1 {
    color: rgb(247, 235, 235);
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.para2{
    color: aliceblue;
    padding-bottom: 20px;
}

.btn{
    text-decoration: none;
    background-color: antiquewhite;
    color: black;
    padding: 20px;
    border-radius: 2px;
}

.btn:hover{
    color: antiquewhite;
    background-color: rgb(31, 30, 30, 0.4);
}

.footer{
    display: flex;
    text-align: center;
    justify-content: center;
    
}

.icon{
    font-size: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.meal{
    background-color: rgb(242, 216, 182);
}

.loc{
    padding: 20px;
}

.food{
    padding: 20px;
}
.foot{
    background-color: rgb(56, 52, 52);
    color: beige;
    padding: 25px;
    text-align: center;
    width: 100%;
}
